<h2>Sales Summary By Region</h2>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Region</th>
      <th>Sales Director</th>
      <th class="text-right">Gross Sales</th>
      <th class="text-right">Target</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="region in salesSummaryByRegion">
      <td>{{region.Name}}</td>
      <td>{{region.SalesDirector}}</td>
      <td class="text-right">{{region.GrossSales | currency}}</td>
      <td class="text-right">{{region.GrossSalesTarget | currency}}</td>
    </tr>
  </tbody>
</table>
